<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
    bootstrap="tests-bootstrap.php" 
    colors="true"
    displayDetailsOnTestsThatTriggerWarnings="true"
>
    <testsuites>
        <testsuite name="[Unit]">
            <directory suffix="_tests.php">Unit</directory>
        </testsuite>
        <testsuite name="[Integration]">
            <directory suffix="_tests.php">Integration</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="PATCHWORK_BLACKLIST" value="Source/:vendor/"/>
    </php>
</phpunit>
