<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
    bootstrap="tests-bootstrap.php" 
    colors="true"
    displayDetailsOnTestsThatTriggerWarnings="true"
>
    <testsuites>
        <testsuite name="[Unit]">
            <directory suffix="_Tests.php">Unit</directory>
        </testsuite>
        <testsuite name="[Integration]">
            <directory suffix="_Tests.php">Integration</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>../Source</directory>
        </include>
        <exclude>
            <!-- Avoid measuring the frontend asset scripts for PHP coverage metrics -->
            <directory>../Source/Private/Assets</directory>
        </exclude>
    </source>
    <php>
        <env name="PATCHWORK_BLACKLIST" value="Source/:vendor/"/>
    </php>
</phpunit>
